<div id="about" class="row container center-block">
  <div class="col-sm-6 about-img">
    <img src="images/IMG_5977.JPG" alt="Mackenzie Myers Rooted and Wild Co. Floral Design" id="about-img" class="center-block img-responsive">
  </div>
  <div class="col-sm-6 about-text">
    <h3 class="text-center">About</h3>
    <p class="text-center">Life is about balance…. the tamed and the untamed, the rooted and the wild. I find happiness in the balance of nature. The union of opposites inspires me in my day-to-day life and creativity.</p>
    <p>Rooted & Wild was created out of my wild eye for all things floral, botanical, and getting lost somewhere in between the ocean and mountains. With a mindful nod to these passions – along with importance of moments, expressions and people – my florals are a direct representation of my heart and soul. </p>
    <p>With a specialty focus on events and weddings, my art will in turn reflect natural balances that create lasting impressions.</p>
    <p>I am so excited to meet you and share my joy with you. Lets talk flowers for your next event or photoshoot… and also life, art and nature over coffee or a good IPA. </p>
    <p>Cheers,<br>Mackenzie</p>
  </div>
</div>

