<div id="about" class="row container about">
  <div class="col-sm-6 about-img">
    <img src="images/IMG_0005.jpg" alt="Mackenzie Myers Rooted and Wild Co. Floral Design" id="about-img" class="center-block img-responsive">
  </div>
  <div class="col-sm-6 about-text">
    <h3 class="text-center">About</h3>
    <p class="text-center">5'2, free spirit, currently residing by the beach, and pretty much always getting lost in nature.</p>
    <p>Rooted & Wild was birthed out of my wild eye for all things floral, botanical, and getting lost in between the ocean and mountains. I'm passionate about people and moments, and the details that go into creating lasting memories. Specializing in weddings and events, my florals are the birth child of my heart my soul. </p>
    <p>For wedding and event inquiries please go to my <a ui-sref="contact">contact page</a>.</p>
    <p>Cheers,<br>Mackenzie</p>
  </div>
</div>

