<link rel="canonical" href="http://www.rootedandwildco.com/#!/blog"/>
<div id="blog" class="container">
  <div class="row">
    <div class="col-sm-8">
      <div dir-paginate="post in blogCtrl.posts | orderBy: 'post.createdAt':true | itemsPerPage: 3 track by $index">
        <a ui-sref="show-blog({postTitle: post.url_title, postId: post._id})"><h3>{{post.title}}</h3></a>
        <p>{{post.date}}</p>

        <hr>

        <img ng-repeat="img in post.images | limitTo:1" ng-src="{{img}}" alt="{{post.title}} - Rooted and Wild Co. Mackenzie Myers" class="blog-img">

        <br>
        <br>

        <p ng:repeat="paragraph in post.paragraphs | limitTo:1" ng-bind-html="paragraph">{{paragraph}}</p>
        <p><a ui-sref="show-blog({postTitle: post.url_title, postId: post._id})">Read more</a></p>

        <div>
          <span ng-click="blogCtrl.addLike(post)" class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{post.likes}} Likes |
          <a ui-sref="show-blog({postId: post._id})"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> ({{post.comments.length}}) Comments </a>
        </div>

        <hr>

        <br>

      </div>
    </div>

    <div class="col-sm-3 pull-right">
      <h4>Connect</h4>
      <div id="instafeed"></div>
      <div class="social-icons">
        <span><a href="https://www.pinterest.com/rootedandwildco/" target="blank"><img id="pinterest" src="images/pinterest-logo.jpg" alt="Rooted and Wild Co Pinterest"></a></span>
        <span><a href="https://www.facebook.com/Rooted-and-WIld-1869870699962400/" target="blank"><img id="fb" src="images/fb-logo.jpg" alt="Rooted and Wild Co Facebook"></a></span>
        <span><a href="https://instagram.com/rootedandwild" target="blank"><img id="ig" src="images/ig-logo.png" alt="Rooted and Wild Co IG"></a></span>
      </div>
    </div>

  </div>
  <a href="javascript:" id="return-to-top"><p>Back to top</p></a>
  <dir-pagination-controls></dir-pagination-controls>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    var userFeed = new Instafeed({
        get: 'user',
        userId: '9027393',
        accessToken: '9027393.a4dc5b5.6c58357074074dc2a7c8a0c2c04cfc70',
        resolution: 'thumbnail',
        template: '<a href="{{link}}"><img class="img-responsive ig-img pull-right" alt={{caption}} src="{{image}}"/></a>',
        limit: 8,
    });
    userFeed.run();

    $('#return-to-top').click(function() {
      $('body,html').animate({
          scrollTop : 0
      }, 500);
    });

    $('dir-pagination-controls ul#pagnation li#ng-scope a').click(function() {
      $('body,html').animate({
          scrollTop : 0
      }, 500);
    });
  });
</script>


