<div class="container show-blog">
  <a ui-sref="blog">Back to blog</a>

  <h2>{{showBlogCtrl.post.title}}</h2>
  <p>{{showBlogCtrl.post.date}}</p>
  <hr>
  <p ng-repeat="paragraph in showBlogCtrl.post.paragraphs">{{paragraph}}</p>
  <p>Cheers, <br>Mackenzie</p>

  <div class="center-block" ng-repeat="img in showBlogCtrl.post.images track by $index">
    <img ng-src="{{img}}" alt="{{showBlogCtrl.post.title}} - Rooted and Wild Co." class="img-responsive blog-img">
  </div>

  <br>
  <br>

  <div class="row">
    <div class="col-xs-4">
      <span ng-click="showBlogCtrl.addLike(showBlogCtrl.post)" class="glyphicon glyphicon-heart" aria-hidden="true"></span> {{showBlogCtrl.post.likes}} Likes
    </div>

    <div id="share-btns" class="col-xs-8">
      <div class="addthis_inline_share_toolbox pull-right"></div>
    </div>
  </div>

  <!-- <div class="row">
    <div class="col-xs-6"><a ui-sref="blog">Back to main blog</a></div>
    <div class="col-xs-6"><a href="javascript:" id="return-to-top" class="pull-right"><p>Back to top</p></a></div>
  </div> -->
  <hr>
  <div class="row">
    <div class="col-xs-6"><a ng-show="showBlogCtrl.nextPost" ui-sref="show-blog({postTitle: showBlogCtrl.nextPost.url_title, postId: showBlogCtrl.nextPost._id})" class="blog-toggles">⟵ {{showBlogCtrl.nextPost.title}}</a></div>
    <div class="col-xs-6"><a ng-show="showBlogCtrl.prevPost" ui-sref="show-blog({postTitle: showBlogCtrl.prevPost.url_title, postId: showBlogCtrl.prevPost._id})" class="pull-right blog-toggles">{{showBlogCtrl.prevPost.title}} ⟶</a></div>
  </div>
  <div class="add-comment">
    <h3>Comments ({{showBlogCtrl.post.comments.length}})</h3>
    <form ng-submit="showBlogCtrl.addComment(showBlogCtrl.post._id)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" ng-model="showBlogCtrl.newComment.name">
      </div>
      <div class="form-group">
        <label for="comment">Comment</label>
        <textarea class="form-control" rows="3" ng-model="showBlogCtrl.newComment.comment"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  <hr>

  <div class="comments" ng-repeat="comment in showBlogCtrl.post.comments track by $index">
    <p><b class="comment-name">{{comment.name}} </b> | {{comment.createdAt | date:'mediumDate'}}</p>
    <p class="comment-content">{{comment.comment}}</p>
    <hr>
  </div>

</div>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58d1dc8fe7d5a00e"></script>

<script type="text/javascript">
    $('#return-to-top').click(function() {
      $('body,html').animate({
          scrollTop : 0                       // Scroll to top of body
      }, 500);
    });
</script>
