<div id="work">

  <div id="work-imgs">
    <div><img src="../images/Brixton-173.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/IMG_0003.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/IMG_0020.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/IMG_0023.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/Brixton-101.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/Brixton-69.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="work-img"></div>
    <div><img src="../images/BohoElopementStyledShoot-4.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="work-img"></div>
    <div><img src="../images/BohoElopementStyledShoot-127.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="work-img"></div>
    <div><img src="../images/IMG_0017.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="work-img"></div>
    <div><img src="../images/IMG_3488.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="work-img"></div>
    <div><img src="../images/IMG_3366.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="work-img"></div>
    <div><img src="../images/IMG_3489.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="work-img"></div>
    <div><img src="../images/IMG_4848.jpg" alt="Rooted and Wild Co. Flowers Shoot" class="work-img"></div>
    <div><img src="../images/IMG_5215.jpg" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5216.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5853.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5946.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5948.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5976.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
    <div><img src="../images/IMG_5978.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="work-img"></div>
  </div>

  <div id="sm-work-imgs">
    <div><img src="../images/Brixton-173.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/IMG_0003.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/IMG_0020.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/IMG_0023.jpg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/Brixton-101.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/Brixton-69.jpeg" alt="Rooted and Wild Co. Brixton's Birthday" class="img-responsive"></div>
    <div><img src="../images/BohoElopementStyledShoot-4.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="img-responsive"></div>
    <div><img src="../images/BohoElopementStyledShoot-127.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_0017.jpg" alt="Rooted and Wild Co. Elopement Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_3488.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_3366.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_3489.JPG" alt="Rooted and Wild Co. Flowers Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_4848.jpg" alt="Rooted and Wild Co. Flowers Shoot" class="img-responsive"></div>
    <div><img src="../images/IMG_5215.jpg" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5216.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5853.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5946.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5948.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5976.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
    <div><img src="../images/IMG_5978.JPG" alt="Rooted and Wild Co. Wedding Flowers" class="img-responsive"></div>
  </div>

</div>

<script>
  $('#work-imgs').slick({
    // dots: true,
    infinite: true,
    speed: 300,
    slidesToShow: 9,
    centerMode: true,
    variableWidth: true,
    autoplay: true,
    autoplaySpeed: 2000
  });
</script>
