/*Universal*/
* {
  font-family: 'Crimson Text';
  border-radius: 0 !important;
}

html {
  position: relative;
  min-height: 100% !important;
}

body {
  margin: 0 0 35px !important; /* bottom = footer height */
  height: 100% !important;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  color: black;
}

a:hover {
  cursor:pointer;
  color: #777;
}

[ui-view].ng-enter {
  transition: opacity 0.8s;
  opacity: 0;
}

[ui-view].ng-enter-active {
  opacity: 1;
}

[ui-view].ng-leave {
  opacity: 1;
}

[ui-view].ng-leave-active {
  opacity: 0;
}

@font-face {
  font-family: "Voster";
  src: url("Voster-Font.otf");
}

/*FOOTER*/
.footer {
  position: absolute;
  left: 0;
  overflow:hidden;
  bottom: 0;
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

div.web-credit {
  position: relative;
  font-size: 12px;
  alignment-baseline: baseline;
  bottom: 0;
}

#pinterest, #ig, #fb {
  max-width: 25px;
  padding: 5px 5px;
  bottom: 0;
}

/*NAV*/
.navbar {
  background-color: white;
  border: none;
  margin-bottom: 50px;
  margin-top: 15px;
  height: 140px;
  z-index: 9;
}

#nav-logo-img, #logo-img {
  max-height: 110px;
  margin-top: 1px;
}

#logo-img {
  margin-top: -15px;
  margin-bottom: 30px;
}

.navbar-default {
  background-color: white;
  z-index: 9;
}

.navbar-default .navbar-collapse {
  border: none;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  background-color: white;
  z-index: 9;
}

.navbar .navbar-collapse {
  text-align: center;
  z-index: 9;
  background-color: white !important;
}

.nav-link {
  margin-top: 50px;
  font-size: 16px;
  font-family: "Voster";
  letter-spacing: 3px;
}

a.navbar-toggle {
  border: none !important;
  float: none;
  padding: 30px 10px;
  margin: 8px 15px 8px 0;
  color: #777;
  z-index: 9;
  font-family: "Voster";
  letter-spacing: 3px;
  font-size: 16px;
}

a.navbar-toggle:hover {
  background-color: white !important;
  cursor: pointer;
  text-decoration: none;
}

div#logo-div {
  display: none;
}

/*HOME STATE*/
.slider {
  margin-top: -30px;
  margin-bottom: 10px;
  height: 82vh;
}

.slide1,.slide2,.slide3,.slide4,.slide5 {
  position: absolute;
  width: 100%;
  height: 81vh;
}

.slide1 {
  background: url(../images/IMG_0057.jpg)no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation:fade 25s infinite;
  -webkit-animation:fade 16s infinite;
}

.slide2 {
  background: url(../images/IMG_0007.jpg)no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation:fade2 16s infinite;
  -webkit-animation:fade2 16s infinite;
}

.slide3 {
  background: url(../images/IMG_8784.JPG)no-repeat center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  animation:fade3 16s infinite;
  -webkit-animation:fade3 16s infinite;
}

@keyframes fade
{
  0%   {opacity:1}
  33.333% { opacity: 0}
  66.666% { opacity: 0}
  100% { opacity: 1}
}
@keyframes fade2
{
  0%   {opacity:0}
  33.333% { opacity: 1}
  66.666% { opacity: 0 }
  100% { opacity: 0}
}
@keyframes fade3
{
  0%   {opacity:0}
  33.333% { opacity: 0}
  66.666% { opacity: 1}
  100% { opacity: 0}
}

/*ABOUT STATE*/
#about {
  margin-top: 8vh;
  margin-bottom: 10vh;
}

.about-text p {
  font-size: 14px;
}

/*CONTACT STATE*/
div.contact-text {
  width: 50%;
  margin: auto;
}

div#contact-form {
  width: 60%;
  margin: auto;
  padding: 15px 0 40px 0;
}

/*WORK STATE*/
#work {
  margin-top: -30px;
  margin-bottom: 10px;
}

#sm-work-imgs {
  display: none;
}

.work-img {
  height: 80vh;
}

.slideshow-img {
  max-height: 500px;
}

@keyframes slidy {
  0%  { left: 0%; }
  20% { left: 0%; }
  25% { left: -100%; }
  45% { left: -100%; }
  50% { left: -200%; }
  70% { left: -200%; }
  75% { left: -300%; }
  95% { left: -300%; }
  100% { left: -400%; }
}

body {
  margin: 0;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  height: auto;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  padding: 0;
  font-size: 0;
  left: 0;
  text-align: left;
  animation: 30s slidy infinite;
}

/*BLOG STATE*/
#blog {
  margin-bottom: 10px;
}

.pagination>.active>a {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.pagination>li>a {
  color: black !important;
}

.blog-links {
  /*color: grey;*/
  text-decoration: underline;
}

.ig-img {
  max-width: 131.25px;
}

#instafeed {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


/*SHOW-BLOG STATE*/
.show-blog {
  width: 70% !important;
}

.blog-credits {
  width: 60%;
}

.comment-name {
  font-size: 18px;
}

.comment-content {
  font-size: 15px;
}

.blog-img {
  width: 100%;
  margin:auto;
}

.share-btns {
  float: top;
}

.blog-toggles {
  font-size: 15px;
}

.glyphicon-heart {
  cursor: pointer;
}

/*RESPONSIVE ELEMENTS*/
@media screen and (max-width:769px) {
  /*WORK*/
  .slider {
    margin-top: 30px;
  }
}

@media screen and (max-width:767px) {
  /*NAV*/
  .navbar-toggle {
    display: inline-block;
    padding: 10px !important;
  }
  nav.navbar {
    border-bottom: #E1E1E1 1px solid;
    height: 57px;
  }
  .nav-link {
    margin-top: 0;
  }
  a#nav-logo-img {
    display: none;
  }
  div#logo-div {
    display: block;
  }

  /*BLOG*/
  div.instafeed {
    display: none;
  }
}

@media screen and (max-width:420px) {
  /*HOME*/
  .slider {
    height: 75vh !important;
  }
  .slide1,.slide2,.slide3,.slide4,.slide5 {
    height: 68vh !important;
  }

  /*CONTACT*/
  div.contact-text {
    width: 65%;
  }
  div#contact-form {
    width: 70%;
  }
}

@media screen and (max-width:1024px) {
  /*WORK*/
  #work {
    margin-top: 5px;
    overflow-x: hidden;
  }
  #work-imgs {
    display: none;
  }
  #sm-work-imgs {
    display: block !important;
  }
}

@media screen and (min-width:1000PX) {
  /*CONTACT*/
  div.contact-text {
    width: 40%;
  }
  div#contact-form {
    width: 50%;
  }
}

